hr.proj-line {
    border-top: 2px dotted #004225;
}

header, hgroup, nav {
    display: block
}

body {
    margin: 0
    color: #004225
}

img {
    border: 0
}

a {
    color: #004225;
    cursor: crosshair;
    text-decoration: none
}

a:hover, a:focus {
    color: beige;
    background-color: #004225
}

a.no-white-hover {
    color: black;
    background: transparent
}

body.home {
    color: beige;
    overflow-y: hidden;
}

body.home a {
    padding: 7px 40px 7px 0
}

body.home a.no-right-padding {
    padding-right: 0
}

body.home a span {
    padding: 0 2px
}

body.home a:hover, body.home a:focus {
    background-color: inherit
}

body.home a:hover span, body.home a:focus span {
    color: #004225;
    background-color: beige
}

body.about {
    color: #004225;
    background-color: beige;
}

ul {
    list-style: none;
    padding: 0
}

h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px
}

h2 {
    font-size: 16px;
    margin-top: 0
}

p {
    font-size: 1em;
    margin-top: 0
}

html {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none
}

.touch body {
    padding: 0
}

body {
    font-size: 0.6875em;
    height: 100%;
    min-width: 760px !important;
    padding: 0 12px
}

#header {
    background: transparent;
    height: 50%;
    margin: -225px auto 45px;
    position: relative;
    text-align: center;
    width: 100%
}

#header hgroup {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    *margin-left: -100px;
    width: 200px
}

#header .logo {
    margin: 0 auto
}

#header time {
    display: block;
    font-family: monospace;
    font-size: 17px;
    margin: 17px 0 0 0
}

#header time b {
    font-weight: inherit
}

.logo {
    font-size: 1em;
    width: 200px
}

.logo a, .logo span.logo-img {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    display: block;
    margin: 0 auto;
    background: url(/images/mkgreen.png) left top no-repeat;
    background-size: 200px 45px;
    width: 200px;
    height: 45px
}

.logo a:before, .logo span.logo-img:before {
    content: "";
    display: block;
    width: 0;
    height: 100%
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .logo a, .logo span.logo-img {
        background-image: url(/images/mkgreen.png);
        background-size: 200px 45px
    }
}

#wrap {
    height: 470px;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 666px
}

#wrap:before, #wrap:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden
}

#wrap:after {
    clear: both
}

#nav {
    line-height: 1;
    margin: 0 auto 40px;
    width: 666px;
    max-width: 100%
}

#nav ul {
    margin: 0
}

#nav li {
    display: inline;
    margin-right: 13px;
    padding-bottom: 0.7em;
    position: relative
}

.home {
    background: beige;
    color: beige
}

.home #header {
    margin: 0 auto 0 auto;
    margin-top: -46px;
    z-index: 1000
}

.home #nav {
    display: none
}

.home #wrap {
    height: auto;
    z-index: 1000
}

.home .logo {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    display: block;
    margin: 0 auto;
    background: url(/images/mkwhite.png) left top no-repeat;
    background-size: 200px 40px;
    width: 200px;
    height: 40px
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .home .logo {
        background-image: url(/images/mkwhite.png);
        background-size: 200px 40px
    }
}

.home nav {
    margin: 70px 0 0 281px;
    overflow: hidden;
    width: 385px
}

.home a {
    font-size: 17px;
    font-family: monospace;
    color: beige
}

.home ul {
    margin: 0
}

.home li {
    margin-bottom: 15px
}

.home li ul {
    display: none;
    padding-left: 8px;
    white-space: nowrap
}

.home li:hover ul, .home li:hover li {
    display: inline
}

#background-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

.blurb {
    color: #004225;
    font-size: 13px;
    font-family: monospace;
    height: 455px;
    overflow: auto;
    padding: 0 1em 0 5px;
    position: relative
}

.about .blurb {
    height: 100%;
    margin: 62px auto 0;
    padding: 0;
    width: 430px
}

#proj-blurb {
    /* add stuff */
    height: 100%;
    margin: 33px auto 0;
    width: 600px
}
